<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Todo App</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<%- include('partials/header') %>
<main class="todo">
  <ul class="list">
    <% for(let i=0; i<tasks.length; i++) { %>
      <li class="item" data-id="<%= tasks[i]._id %>">
        <span class="title"><%= tasks[i].title %></span>
        <span class="priority <%= tasks[i].priority %>"><%= tasks[i].priority %></span>

          <form action="/tasks/delete/<%= tasks[i]._id %>" method="POST" class="inline-form">
            <button type="submit">🗑 Delete</button>
          </form>
        
        <button type="button" class="edit-btn"
          data-id="<%= tasks[i]._id %>"
          data-title="<%= tasks[i].title %>" 
          data-priority="<%= tasks[i].priority %>">
          Edit
        </button>

      </li>
    <% } %>
  </ul>

  <form action="/tasks" method="POST" class="task-form">
    <input type="text" name="title" placeholder="Write somethinge to do ..." required>
    <select name="priority" required>
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
    </select>
    <button type="submit">Save task</button>
  </form>

</main>
<%- include('partials/footer') %>
<script src="/js/script.js"> </script>
</body>
</html>