<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
<%- include("partials/header") %>

<div class="main">
    <div class="container text-center">
        <h1>TODO LIST</h1>
    </div>

    <div class="box">
        <form action="/add" method="POST" onsubmit="return validateForm()">
            <input type="text" name="task" id="taskInput" placeholder="Enter the task">
            <select name="priority" id="priority">
                <option value="low">Low</option>
                <option value="mid">Mid</option>
                <option value="high">High</option>
            </select>
            <button type="submit">+</button>
        </form>
    </div>

    <% todos.forEach(function(todo) { %>
        <div class="box" id="edit-item">
            <span class="task-text"><%= todo.task %> (<%= todo.priority %>)</span>

            <form action="/edit/<%= todo._id %>?_method=PUT" method="POST" style="display:inline-block;">
                <input type="text" name="task" placeholder="Edit task" required>
                <select name="priority" id="priority">
                    <option value="low">Low</option>
                    <option value="mid">Mid</option>
                    <option value="high">High</option>
                </select>
                <button type="submit" onClick="return confirm('Are you sure you want to edit this task?')">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </form>

            <form action="/delete/<%= todo._id %>?_method=DELETE" method="POST" style="display:inline-block;">
                <button type="submit" onClick="return confirm('Delete this task?')">
                    <i class="fas fa-trash"></i>
                </button>
            </form>
        </div>
    <% }); %>
</div>

<%- include("partials/footer") %>

<script src="/js/script.js"></script>
</body>
</html>
